* {
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    font-size: 3rem;
    font-family: 'Courier New', Courier, monospace;
    color:azure;
}

.task-icon:hover {
    content:url("assets/hover-circle.svg");
}

.page-heading {
  text-align: center;
}

#task-date {
    border-radius: 10px;
    padding: 15px;
    border: ridge;
    transition: 0.3s ease;
}

#task-date:hover {
    background-color: #92c7e4;
    font-weight: bold;
}

.task-container {
    display: grid;
    margin: 2rem;
}

.done {
    color: rgb(2, 252, 27);
    font-weight: 500;
}

input#add-task {
    font-size: 15px;
    border-radius: 12px;
    padding: 15px;
    transition: background-color 0.3s ease-in-out;
}

.task-holder {
    display: flex;
    padding: 5px 5px;
    justify-content: space-between;
    width: 700px;
    color: rgb(240, 240, 240);
    background-color: rgb(54, 54, 54);
    border-color: black;
    border: 2px;
    border: 1px dashed black;
    border-radius: 6px;
    transition: 0.3s ease;
}

.task-holder:hover {
    background-color: rgb(102, 101, 101);
    transform: scale(1.05);
    filter: drop-shadow(0 0 0.75rem rgb(124, 114, 116));
}

input#add-task:hover {
    background-color: rgb(186, 180, 180);
}

.delete-button {
    border-radius: 10px;
    padding: 8px;
    border: ridge;
    transition: 0.3s ease;
}

.date {
    font-size: 10px;
    color: rgb(122, 250, 250);
}

.delete-button:hover {
    background-color: rgb(236, 32, 32);
    font-weight: bold;
}

input.add-button {
    font-size: 15px;
    border-radius: 10px;
    padding: 15px 18px;
    transition: 0.3s ease;
}

input.add-button:hover {
    background-color: #ac6fdd;
    font-weight: bold; /*Why did this work and not 600*/
}

body {
    display: grid;
    place-items: center;
    background-color: rgb(28, 28, 28);
}
